Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
Flask-Limiter
Flask-SocketIO
gevent
gevent-websocket
Werkzeug
PyMySQL
cryptography
python-dotenv
qrcode
Pillow
reportlab
openpyxl
pdfplumber
midtransclient
email-validator
WTForms
Jinja2
itsdangerous
python-escpos
pyusb
firebase-admin
